on: [push, pull_request]
name: Test
jobs:
  lint:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install golangci-lint
        run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.18.0

      - name: Run golangci-lint
        run: $(go env GOPATH)/bin/golangci-lint run ./...

  test-with-module:
    strategy:
      matrix:
        go-version: [1.13.x, 1.14.x]
    env:
      GO111MODULE: on
      GOPROXY: "https://proxy.golang.org"
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v1

      - name: Run Unit tests.
        run: make test

      - name: Run vet
        run: make vet

