on: [push, pull_request]
name: Test
jobs:
    lint:
        strategy:
            matrix:
                go-version: [1.24.x]
                platform: [ubuntu-latest]
        runs-on: ${{ matrix.platform }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install Go
              uses: actions/setup-go@v5
              with:
                  go-version: ${{ matrix.go-version }}

            - name: Install golangci-lint
              run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.7.2

            - name: Run golangci-lint
              run: $(go env GOPATH)/bin/golangci-lint run --timeout 5m0s --disable unused ./...

    test-with-module:
        strategy:
            matrix:
                go-version: [1.24.x]
        env:
            GO111MODULE: on
            GOPROXY: "https://proxy.golang.org"
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install Go
              uses: actions/setup-go@v5
              with:
                  go-version: ${{ matrix.go-version }}

            - name: Run Unit tests.
              run: make test

            - name: Run vet
              run: make vet
